@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.Progress_progressIndicator__8osPX{
  background-color: rgba(9, 111, 144, 1) !important;
  border-radius: 40px !important;
}
.PhoneInput {
  border-width: 2px;
  border-color: rgba(217, 222, 231, 1);
  border-radius: 10.67px;
}
.PhoneInputCountry {
  border-top-left-radius: 10.67px;
  border-bottom-left-radius: 10.67px;
}
.PhoneInputCountry {
  background-color: rgba(236, 239, 243, 1) !important;
  padding: 16px 8px 16px 8px;
  /* width: 88px; */
}
.PhoneInputInput {
  height: 40px;
}
/* React Select */
.css-13cymwt-control {
  border: 2px solid rgba(217, 222, 231, 1);
  border-radius: 10.67px !important;
  padding: 10px 8px;
}
.css-t3ipsp-control {
  border: 2px solid #2684ff;
  border-radius: 10.67px !important;
  padding: 10px 8px;
}
@layer base {
  :root {
    --muted: 248 33.3% 30.6%;
    --avatar-busy: 355 82% 56.5%;
    --avatar-waiting: 40 81.6% 55.3%;
    --avatar-inactive: 240 2.8% 72.2%;
    --avatar-active: 151 90.2% 44.1%;

    --primary: 9, 111, 144, 1;
    --primary-foreground: 12, 78, 100, 1;
    --primary-active: 9, 111, 144, 1;

    --inactive: 228 228 231;
    --inactive-foreground: 182 182 186;
    --inactive-hover: 100 100 106;

    --active-hover: 248 33.3% 30.6%;

    --background: 0 0% 100%;

    --foreground: 222.2 47.4% 11.2%;
    --destructive: 355 82% 56.5%;

    --radius: 0.5rem;
    --radius100: 6.5rem;
    --ring: 215 20.2% 65.1%;

    --alert-info: 240 10% 3.9%;
    --alert-success: 126 100% 20.4%;
    --alert-error: 355 82% 56.5%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --accent: 60 100% 95.3%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;

    /* end here */

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --destructive-foreground: 210 40% 98%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */
  /* body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  } */
}