@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.Progress_progressIndicator__8osPX{
  background-color: rgba(9, 111, 144, 1) !important;
  border-radius: 40px !important;
}
.PhoneInput {
  border-width: 2px;
  border-color: rgba(217, 222, 231, 1);
  border-radius: 10.67px;
}
.PhoneInputCountry {
  border-top-left-radius: 10.67px;
  border-bottom-left-radius: 10.67px;
}
.PhoneInputCountry {
  background-color: rgba(236, 239, 243, 1) !important;
  padding: 16px 8px 16px 8px;
  /* width: 88px; */
}
.PhoneInputInput {
  height: 47px;
  border-top-right-radius: 10.67px !important;
  border-bottom-right-radius: 10.67px !important;
}
/* React Select */
.css-13cymwt-control {
  border: 2px solid rgba(217, 222, 231, 1);
  border-radius: 10.67px !important;
  padding: 10px 8px;
}
.css-t3ipsp-control {
  border: 2px solid #2684ff;
  border-radius: 10.67px !important;
  padding: 10px 8px;
}
/* elfsight */
[class*="FloatingButton__FloatingButtonContainer"] {
  display: none;
}

/* React datepicker */
.react-datepicker__month-container{
  border: none;
  border-radius: 8px;
}

.react-datepicker__header {
  border-bottom: none !important;
  background-color: #fff !important;
  padding: 0.5em 0 0.5em 0 !important;
}

.react-datepicker__current-month {
  font-family: 'Inter';
  font-size: 0.75rem;
  color: #333;
  font-weight: 500 !important;
  margin: 0.5rem 0rem !important;
}

.react-datepicker__navigation {
  margin: 0.45rem 0rem !important;
}

.react-datepicker__day-name {
  font-family: 'Inter';
  font-size: 0.75rem;
  color: rgba(249, 249, 249, 1);
  font-weight: 400 !important;
  margin: 0.5rem 0rem;
}

.react-datepicker__day--selected {
  border-radius: 100% !important;
  background-color: rgba(9, 111, 144, 1);
  color: #fff;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
  border-radius: 100% !important;
  background-color: rgba(242, 250, 252, 1) !important;
  color: #333 !important;
}

.react-datepicker__day--selecting-range-start:hover {
  border-radius: 100% !important;
  background-color: rgba(242, 250, 252, 1) !important;
  color: #333 !important;
}

.react-datepicker__day--in-range {
  border-radius: 100% !important;
  background-color: rgba(242, 250, 252, 1) !important;
  color: #333 !important;
}

.react-datepicker__day--range-start{
  border-radius: 100% !important;
  background-color: rgba(9, 111, 144, 1) !important;
  color: #fff !important;
}

.react-datepicker__day--selecting-range-end {
  border-radius: 100% !important;
  background-color: rgba(9, 111, 144, 1) !important;
  color: #fff !important;
}