@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Onsite";
  src: url("./fonts/Onsite/OnsiteCondensed-Bold.otf") format("otf"),
    url("./fonts/Onsite/OnsiteCondensed-Bold.woff2") format("woff2");
  /* font-weight: 300;
  font-display: swap;
  font-style: normal; */
}

@font-face {
  font-family: "Onsite";
  src: url("./fonts/Onsite/OnsiteStandard-Bold.otf") format("otf"),
    url("./fonts/Onsite/OnsiteStandard-Bold.woff") format("woff"),
    url("./fonts/Onsite/OnsiteStandard-Bold.woff2") format("woff2"),
  /* font-weight: 300;
  font-display: swap;
  font-style: italic; */
}

@font-face {
  font-family: "Onsite";
  src: url("./fonts/Onsite/OnsiteStandard-Medium.otf") format("otf"),
    url("./fonts/Onsite/OnsiteStandard-Medium.woff") format("woff"),
    url("./fonts/Onsite/OnsiteStandard-Medium.woff2") format("woff2"),
  /* font-weight: 400;
  font-display: swap;
  font-style: normal; */
}
@font-face {
  font-family: "Onsite";
  src: url("./fonts/Onsite/OnsiteStandard-Regular.otf") format("otf"),
    url("./fonts/Onsite/OnsiteStandard-Regular.woff") format("woff"),
    url("./fonts/Onsite/OnsiteStandard-Regular.woff2") format("woff2"),
  /* font-weight: 400;
  font-display: swap;
  font-style: normal; */
}

body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.Progress_progressIndicator__8osPX{
  background-color: rgba(9, 111, 144, 1) !important;
  border-radius: 40px !important;
}
.PhoneInput {
  border-width: 2px;
  border-color: rgba(217, 222, 231, 1);
  border-radius: 10.67px;
}
.PhoneInputCountry {
  border-top-left-radius: 10.67px;
  border-bottom-left-radius: 10.67px;
}
.PhoneInputCountry {
  background-color: rgba(236, 239, 243, 1) !important;
  padding: 16px 8px 16px 8px;
  /* width: 88px; */
}
.PhoneInputInput {
  height: 47px;
  border-top-right-radius: 10.67px !important;
  border-bottom-right-radius: 10.67px !important;
}
/* React Select */
.css-13cymwt-control {
  border: 2px solid rgba(217, 222, 231, 1);
  border-radius: 10.67px !important;
  padding: 10px 8px;
}
.css-t3ipsp-control {
  border: 2px solid #2684ff;
  border-radius: 10.67px !important;
  padding: 10px 8px;
}
/* elfsight */
[class*="FloatingButton__FloatingButtonContainer"] {
  display: none;
}

/* React datepicker */
.react-datepicker__month-container{
  border: none;
  border-radius: 8px;
}

.react-datepicker__header {
  border-bottom: none !important;
  background-color: #fff !important;
  padding: 0.5em 0 0.5em 0 !important;
}

.react-datepicker__current-month {
  font-family: 'Inter';
  font-size: 0.75rem;
  color: #333;
  font-weight: 500 !important;
  margin: 0.5rem 0rem !important;
}

.react-datepicker__navigation {
  margin: 0.45rem 0rem !important;
}

.react-datepicker__day-name {
  font-family: 'Inter';
  font-size: 0.75rem;
  color: rgba(249, 249, 249, 1);
  font-weight: 400 !important;
  margin: 0.5rem 0rem;
}

.react-datepicker__day--selected {
  border-radius: 100% !important;
  background-color: rgba(9, 111, 144, 1);
  color: #fff;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
  border-radius: 100% !important;
  background-color: rgba(242, 250, 252, 1) !important;
  color: #333 !important;
}

.react-datepicker__day--selecting-range-start:hover {
  border-radius: 100% !important;
  background-color: rgba(242, 250, 252, 1) !important;
  color: #333 !important;
}

.react-datepicker__day--in-range {
  border-radius: 100% !important;
  background-color: rgba(242, 250, 252, 1) !important;
  color: #333 !important;
}

.react-datepicker__day--range-start{
  border-radius: 100% !important;
  background-color: rgba(9, 111, 144, 1) !important;
  color: #fff !important;
}

.react-datepicker__day--selecting-range-end {
  border-radius: 100% !important;
  background-color: rgba(9, 111, 144, 1) !important;
  color: #fff !important;
}

input[type="radio"]{
  appearance: none;
  border: 1px solid rgba(0, 70, 70, 1);
  content: none;
  outline: none;
  margin: 0;
  border-radius: 4px;
}

input[type="radio"]:checked {
 appearance: none;
 outline: none;
 padding: 0;
 content: none;
 border: none;
}

input[type="radio"]:checked::before{
 position: absolute;
 color: rgba(0, 70, 70, 1) !important;
 content: "\00A0\2713\00A0" !important;
 border: 1px solid rgba(0, 70, 70, 1) !important;
 font-weight: bolder;
 border-radius: 4px;
 height: 24px;
}