.progressRoot {
  position: relative;
  height: 0.25rem;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  background-color: hsl(var(--inactive, 240 5.9% 90%));
}
.progressIndicator {
  height: 100%;
  width: 100%;
  flex: 1 1 0%;
  background-color: hsl(var(--primary, 245 76.8% 62.7%));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}
