.firstSectionContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  background: var(--Colour-Primary-5, #e1f7fe);

  .firstSecLeftContainer {
    width: 50%;
    display: flex;
    justify-content: center;

    .firstSecLeftWrapper {
      margin: 120px 40px 0px 80px;

      .firstSecTitle {
        color: #024471;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 112%;
        margin: 0;
        margin-bottom: 24px;
      }

      .firstSecDesc {
        color: #024471;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 128%;
        margin: 0;
        margin-bottom: 48px;
      }

      .landingPageCtaBtn {
        display: flex;
        align-items: center;
        gap: 12px;
        height: 64px;
        border-radius: 6px;
        background: #096f90;

        .ctaBtnText {
          color: var(--Colour-Neutral-7, #f7f9fa);
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }

  .firstSecRightContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
  }
}

.secondSectionMainContainer {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .secondSecTitle {
    margin: 0 0 6rem;
    color: var(--Colour-Primary-2, #096f90);
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 112%;
  }

  .secondSectionContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imgComponentWrapper {
      display: flex;
      gap: 7rem;
    }

    .stepperContainer {
      width: max-content;
      display: flex;
      margin-top: 70px;
      margin-bottom: 30px;
    }

    .cardContainer {
      display: flex;
      gap: 4rem;
      max-width: 100%;
    }
  }

  .secondSecCtaBtn {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 64px;
    border-radius: 6px;
    background: #096f90;
    margin-top: 5rem;

    .secondSecCtaBtnText {
      color: var(--Colour-Neutral-7, #f7f9fa);
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.faqSectionContainer {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .faqSectionTitle {
    color: var(--Colour-Primary-2, #096f90);
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 112%;
    margin: 0;
    margin-bottom: 30px;
  }

  .faqSectionDesc {
    color: #3b475e;
    text-align: center;
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    margin: 0;
    margin-bottom: 60px;
  }

  .faqContainer {
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
  }
}

.thirdSectionContainer {
  width: 100%;
  height: 768px;
  box-sizing: border-box;
  display: flex;

  .hospitalInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--Colour-Primary-5, #e1f7fe);
    box-sizing: border-box;

    .hospitalInfoInnerContainer {
      padding: 0 170px 80px 50px;
      transition: opacity 3s;

      .hospitalInfoTitle {
        color: #014a7b;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 112%;
        margin: 0;
        margin-bottom: 30px;
      }

      .titleAnimate {
        animation: slide-in 1s ease-in;
      }

      @keyframes slide-in {
        from {
          transform: translateY(-100px);
        }

        to {
          transform: translateY(0);
        }
      }

      .hospitalInfoDescContainer {
        display: flex;
        flex-direction: column;
        gap: 45px;

        .hospitalInfoDesc {
          color: #024471;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 128%;
          margin: 0;
        }
      }
    }
  }
}

.blur {
  opacity: 0.2;
}

.visible {
  opacity: 1;
}

.animationImgWrapper {
  display: flex;
  align-items: center;
  gap: 90px;
  transition: opacity 1s;
}
