.firstSectionContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  background: var(--Colour-Primary-5, #e1f7fe);
  padding-top: 96px;

  .firstSecLeftContainer {
    width: 50%;
    display: flex;
    justify-content: center;

    .firstSecLeftWrapper {
      margin: 120px 40px 0px 80px;

      .firstSecTitle {
        color: #024471;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 112%;
        margin: 0;
        margin-bottom: 24px;
      }

      .firstSecDesc {
        color: #024471;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 128%;
        margin: 0;
        margin-bottom: 48px;
      }

      .landingPageCtaBtn {
        display: flex;
        align-items: center;
        gap: 12px;
        height: 64px;
        border-radius: 6px;
        background: #096f90;

        .ctaBtnText {
          color: var(--Colour-Neutral-7, #f7f9fa);
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }

      .landingPageCtaBtn:hover {
        background: var(--Colour-Primary-1, #0c4e64);
      }
    }
  }

  .firstSecRightContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;

    .landingPageBannerImg {
      object-fit: cover;
    }
  }
}

.secondSectionMainContainer {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .secondSecTitle {
    margin: 0 0 6rem;
    color: var(--Colour-Primary-2, #096f90);
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 112%;
  }

  .secondSectionContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imgComponentWrapper {
      display: flex;
      gap: 7rem;
    }

    .stepperContainer {
      width: 100%;
      display: flex;
      margin-top: 70px;
      margin-bottom: 30px;
    }

    .cardContainer {
      display: flex;
      gap: 4rem;
      max-width: 100%;
    }
  }

  .secondSecCtaBtn {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 64px;
    border-radius: 6px;
    background: #096f90;
    margin-top: 5rem;

    .secondSecCtaBtnText {
      color: var(--Colour-Neutral-7, #f7f9fa);
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }

  .secondSecCtaBtn:hover {
    background: var(--Colour-Primary-1, #0c4e64);
  }
}

.faqSectionContainer {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .faqSectionTitle {
    color: var(--Colour-Primary-2, #096f90);
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 112%;
    margin: 0;
    margin-bottom: 30px;
  }

  .faqSectionDesc {
    color: #3b475e;
    text-align: center;
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    margin: 0;
    margin-bottom: 60px;
  }

  .faqContainer {
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
  }
}

.thirdSectionContainer {
  width: 100%;
  height: 768px;
  box-sizing: border-box;
  display: flex;

  .hospitalInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--Colour-Primary-5, #e1f7fe);
    box-sizing: border-box;

    .hospitalInfoInnerContainer {
      padding: 0 170px 80px 50px;
      transition: opacity 3s;

      .hospitalInfoTitle {
        color: #014a7b;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 112%;
        margin: 0;
        margin-bottom: 30px;
      }

      .titleAnimate {
        animation: slide-in 1s ease-in;
      }

      .titleAnimateMobile {
        animation: slide-in-mobile 1s ease-in;
      }

      @keyframes slide-in {
        from {
          transform: translateY(-100px);
        }

        to {
          transform: translateY(0);
        }
      }

      @keyframes slide-in-mobile {
        from {
          transform: translateY(-50px);
        }

        to {
          transform: translateY(0);
        }
      }

      .hospitalInfoDescContainer {
        display: flex;
        flex-direction: column;
        gap: 45px;

        .hospitalInfoDesc {
          color: #024471;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 128%;
          margin: 0;
        }
      }
    }
  }

  .hospitalImgCarouselContainer {
    position: relative;

    .carouselImgTag {
      position: absolute;
      top: 9rem;
      right: 9rem;
    }

    .carouselImgCircleContainer {
      position: absolute;
      bottom: 23px;
      right: calc(535px / 2 - 40px);
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.blur {
  opacity: 0.2;
}

.visible {
  opacity: 1;
}

.animationImgWrapper {
  display: flex;
  align-items: center;
  gap: 90px;
  transition: opacity 1s;
}

.previousBtn {
  border: 2px solid var(--Colour-Primary-2, #096f90);
  border-radius: 8px;
  color: var(--Colour-Primary-2, #096f90);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  font-size: 0.875rem;
  padding-block: 14px;
  padding-inline: 40px;
  gap: 12px;
  font-size: 1.375rem;
}

.nextBtn {
  border: 2px solid var(--Colour-Primary-2, #096f90);
  background-color: var(--Colour-Primary-2, #096f90);
  border-radius: 8px;
  color: white;
}

@media only screen and (max-width: 824px) {
  .firstSectionContainer {
    height: auto;
    flex-direction: column-reverse;

    .firstSecLeftContainer {
      width: 100%;

      .firstSecLeftWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 24px 50px;

        .firstSecTitle {
          color: var(--Colour-Primary-1, #0c4e64);
          text-align: center;
          font-size: 36px;
          line-height: 120%;
        }

        .firstSecDesc {
          color: var(--Colour-Primary-1, #0c4e64);
          text-align: center;
          font-family: Lexend;
          font-size: 16px;
          font-weight: 300;
          line-height: 120%;
          margin-bottom: 40px;
        }
      }
    }

    .firstSecRightContainer {
      width: 100%;
      padding-top: 0;
      justify-content: unset;

      .landingPageBannerImg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .secondSectionMainContainer {
    height: auto;
    padding: 68px 1rem;

    .secondSecTitle {
      color: var(--Colour-Primary-1, #0c4e64);
      font-size: 36px;
      line-height: 120%;
      margin-bottom: 48px;
    }

    .secondSectionContainer {
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;

      .imgComponentWrapper {
        flex-direction: column;
        gap: 0;
      }

      .stepperContainer {
        display: none;
      }

      .cardContainer {
        flex-direction: column;
        gap: 36px;
      }
    }
  }

  .animationImgWrapper {
    gap: 0;
    flex-direction: column;

    .stepperCardIcon {
      width: 48px;
      height: 48px;
    }
  }

  .thirdSectionContainer {
    height: auto;
    flex-direction: column;

    .hospitalInfoContainer {
      .hospitalInfoInnerContainer {
        padding: 64px 20px;

        .hospitalInfoTitle {
          color: var(--Colour-Primary-1, #0c4e64);
          text-align: center;
          font-family: Poppins;
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          margin-bottom: 24px;
        }

        .hospitalInfoDescContainer {
          gap: 24px;

          .hospitalInfoDesc {
            color: var(--Colour-Primary-1, #0c4e64);
            text-align: center;
            font-family: Lexend;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
          }
        }
      }
    }

    .hospitalImgCarouselContainer {
      width: 100%;
      height: 386px;

      .carouselImg {
        width: 100%;
      }

      .carouselImgTag {
        width: 138px;
        height: 37px;
        top: 5rem;
        right: calc(100vw / 2);
      }

      .carouselImgCircleContainer {
        right: calc(100vw / 2 - 40px);
      }
    }
  }

  .faqSectionContainer {
    height: auto;
    padding: 90px 20px;

    .faqSectionTitle {
      color: var(--Colour-Primary-1, #0c4e64);
      font-size: 36px;
      line-height: 120%;
      margin-bottom: 24px;
    }

    .faqSectionDesc {
      color: var(--Colour-Primary-1, #0c4e64);
      font-size: 16px;
      font-weight: 300;
      line-height: 120%;
    }

    .faqContainer {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 640px) {
  .btn {
    padding-inline: 20px;
    padding-block: 10px;
    font-size: 14px;
    width: 8rem;
  }
}
