.accordionContainer {
  width: 100%;

  .headerContainer {
    width: 100%;
    //height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;

    .headerContentWrapper {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .editIcon {
      margin-right: 30px;
    }
  }

  .contentContainer {
    border-bottom: 1px solid var(--Colour-Neutral-7, #f7f9fa);
    background: var(--Colour-Neutral-7, #f7f9fa);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    //padding: 24px 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    //margin-bottom: 0.5rem;
    margin-top: 2px;
  }

  .noShadow {
    box-shadow: none !important;
  }
}
