.headerContainer {
  padding: 1rem;
  width: 100%;
  //height: 96px;
  display: flex;
  align-items: center;
  border: 0.001px solid #f9f9f9;
  background: #f9f9f9;
  box-shadow: 0px 0px 0px 0px #000;
  box-sizing: border-box;
}

.isFixed {
  position: fixed;
  top: 0;
  z-index: 1000000;
}

.headerBrandContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerContentContainer {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.headerMenuContainer {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  height: calc(100vh - 96px);
  position: fixed;
  top: 96px;
  left: 0;
  right: 0;
  z-index: 1000000;
  background: #f9f9f9;
  padding: 1rem;
}
