.captionLabel {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: rgba(26, 26, 30, 1);
  margin-bottom: 1rem;
}
.headCell {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(182, 182, 186, 1);
}
.day {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(26, 26, 30, 1);
  padding: 0.5em;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--rdp-cell-size);
  max-width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  margin: 0;
  border: 2px solid transparent;
  border-radius: 100%;
}
.cell {
  padding: 0;
}
.selectedDay {
  background-color: hsl(var(--primary, 245 76.8% 62.7%));
  color: #fff;
  border-radius: 9999px;
}
.selectedDay:hover {
  background-color: hsl(var(--primary, 245 76.8% 62.7%));
  color: #fff;
}
.dayMiddleRange {
  background-color: hsl(var(--inactive, 240 5.9% 90%));
  color: rgba(26, 26, 30, 1);
  border-radius: 0;
}
.previousMonth {
  color: rgba(182, 182, 186, 1);
}
